## Chi-square Test - "Campaign-data"

In [2]:
#imports
import pandas as pd
from scipy.stats import chi2_contingency, chi2 #SCIPY contains statistical operation related

In [3]:
#import excel data - specificaly data sits in sheet name "campaign_data"
campaign_data = pd.read_excel("grocery_database-Copy1.xlsx", sheet_name = 'campaign_data')

In [14]:
print(campaign_data.head())
print(len(campaign_data))

   customer_id  campaign_name campaign_date mailer_type  signup_flag
0           74  delivery_club    2020-07-01     Mailer1            1
1          524  delivery_club    2020-07-01     Mailer1            1
2          607  delivery_club    2020-07-01     Mailer2            1
3          343  delivery_club    2020-07-01     Mailer1            0
4          322  delivery_club    2020-07-01     Mailer2            1
870

In [12]:
campaign_data['mailer_type'].unique()

array(['Mailer1', 'Mailer2', 'Control'], dtype=object)

In [15]:
campaign_data = campaign_data.loc[campaign_data['mailer_type'] != 'Control']
print(len(campaign_data))

711

In [17]:
campaign_data.head()

   customer_id  campaign_name campaign_date mailer_type  signup_flag
0           74  delivery_club    2020-07-01     Mailer1            1
1          524  delivery_club    2020-07-01     Mailer1            1
2          607  delivery_club    2020-07-01     Mailer2            1
3          343  delivery_club    2020-07-01     Mailer1            0
4          322  delivery_club    2020-07-01     Mailer2            1

In [27]:
campaign_data[(campaign_data['mailer_type'] == 'Mailer1') & 
              (campaign_data['signup_flag'] == 1)]

     customer_id  campaign_name campaign_date mailer_type  signup_flag
0             74  delivery_club    2020-07-01     Mailer1            1
1            524  delivery_club    2020-07-01     Mailer1            1
7            120  delivery_club    2020-07-01     Mailer1            1
8             52  delivery_club    2020-07-01     Mailer1            1
13            83  delivery_club    2020-07-01     Mailer1            1
..           ...            ...           ...         ...          ...
852          141  delivery_club    2020-07-01     Mailer1            1
855          210  delivery_club    2020-07-01     Mailer1            1
862            4  delivery_club    2020-07-01     Mailer1            1
864          466  delivery_club    2020-07-01     Mailer1            1
866          104  delivery_club    2020-07-01     Mailer1            1

[123 rows x 5 columns]

In [33]:
#crosstab method to creat 2X2 matrix with frequencies of one or more factors (two in this case)
observed_values = pd.crosstab(campaign_data['mailer_type'], campaign_data['signup_flag']).values # '.values' allows the results to be stored in an array form

In [35]:
observed_values

array([[252, 123],
       [209, 127]], dtype=int64)

In [36]:
pd.crosstab(campaign_data['mailer_type'], campaign_data['signup_flag'])

signup_flag    0    1
mailer_type
Mailer1      252  123
Mailer2      209  127

In [48]:
mailer1_signup_rate = observed_values[0][1]/(observed_values[0][0] + observed_values[0][1])
mailer2_signup_rate = observed_values[1][1]/(observed_values[1][0] + observed_values[1][1])
print("Mailer1 rate:", mailer1_signup_rate, "\nMailer2 rate:", mailer2_signup_rate)

Mailer1 rate: 0.328
Mailer2 rate: 0.37797619047619047

In [69]:
#Now check how significant the difference is using chi-sqare test
Null_hypothesis = "There is no relationship between mailer type and signup rate - they are independent."
Alternative_hypothesis = "There is a significant relationship between mailer type and signup rate.\n"
Acceptance_criteria = 0.05

In [70]:
# calculate chisquare
chi2_statistic, p_value, dof, expected_values = chi2_contingency(observed_values, correction = False)
print(chi2_statistic, p_value)

1.9414468614812481 0.16351152223398197

In [71]:
expected_values

array([[243.14345992, 131.85654008],
       [217.85654008, 118.14345992]])

In [73]:
if(p_value <= Acceptance_criteria):
    print(f"Since the p_value is smaller than the acceptance criteria value, We reject the null hypothesis")
    print(Alternative_hypothesis)
else:
    print(f"Since the p_value is larger than the acceptance criteria value, We consider the null hypothesis")
    print(Null_hypothesis)

Since the p_value is larger than the acceptance criteria value, We consider the null hypothesis
There is no relationship between mailer type and signup rate - they are independent.